@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  overflow: hidden;
}

/* Start Login */
.container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  background-image: url("../images/login-background.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: 0;
}

.container .card {
  background-color: rgba(217, 217, 217, 0.7);
  width: 400px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  margin: 20px;
}

.card .head .logo img {
  width: 120px;
  height: 120px;
  margin: 14px 14px 0 0;
}

.card .head h2 {
  color: #002b88;
  font-weight: bold;
  letter-spacing: 1.4px;
}

.card .head p {
  font-size: 20px;
  color: #000000d1;
  letter-spacing: -1.2px;
}

.card form {
  width: 100%;
  margin: 35px 20px;
  display: flex;
  flex-direction: column;
}

.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  border: none;
  padding: 10px 0;
  font-size: 19px;
  width: 80%;
  background: transparent;
  border-bottom: 2px solid black;
}

.input-group input:focus {
  outline: none;
}

.input-group label {
  position: absolute;
  left: 40px;
  font-size: 24px;
  color: black;
  pointer-events: none;
  transition: 0.3s ease all;
  top: 50%;
  transform: translateY(-50%);
}
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -3px;
  font-size: 18px;
}
.input-group img {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 15px 30px;
}
.remember-me input {
  display: none;
}
.switch {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}
.switch::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}
input:checked + .switch {
  background-color: #002b88;
}
input:checked + .switch::before {
  transform: translateX(20px);
}
.card form input[type="submit"] {
  width: 80%;
  margin: auto;
  padding: 15px;
  border-radius: 18px;
  background-color: #002b88;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  transition: 0.3s;
}
.card form input[type="submit"]:hover {
  background-color: #021b51;
}
/* End Login */
