@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  overflow: hidden;
}
/* Start Login */
.container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  background-image: url("../images/login-background.png");
  background-size: cover;
  background-position: center;
  filter: blur(0px);
  z-index: 0;
}
.container .card {
  background-color: rgba(217, 217, 217, 0.911);
  width: 400px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  margin: 20px;
  animation: slideDownFade 0.8s ease forwards;
  opacity: 0;
  animation: slideDownFade 0.8s ease 1.2s forwards;
}
.card .head .logo img {
  width: 120px;
  height: 120px;
  margin: 14px 14px 0 0;
}

.card .head h2 {
  color: #002b88;
  font-weight: bold;
  letter-spacing: 1.4px;
}
.card .head p {
  font-size: 20px;
  color: #000000d1;
  letter-spacing: -1.2px;
}
.card form {
  width: 100%;
  margin: 35px 20px;
  display: flex;
  flex-direction: column;
}
.input-group {
  position: relative;
  margin-bottom: 25px;
}
.input-group input {
  border: none;
  padding: 10px 0;
  font-size: 19px;
  width: 80%;
  background: transparent;
  border-bottom: 2px solid black;
}
.input-group input:focus {
  outline: none;
}
.input-group label {
  position: absolute;
  left: 40px;
  font-size: 24px;
  color: black;
  pointer-events: none;
  transition: 0.3s ease all;
  top: 50%;
  transform: translateY(-50%);
}
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -3px;
  font-size: 18px;
}
.input-group img {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s;
}
#togglePassword {
  transition: opacity 0.3s ease;
}
.remember-me {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 15px 30px;
}
.remember-me input {
  display: none;
}
.switch {
  width: 40px;
  height: 20px;
  background-color: #6b6969;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}
.switch::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}
input:checked + .switch {
  background-color: #002b88;
}
input:checked + .switch::before {
  transform: translateX(20px);
}

/* لما ارفع البروجيكت ارجعهم تاني  */
/* .card form input[type="submit"] {
  width: 80%;
  margin: auto;
  padding: 15px;
  border-radius: 18px;
  background-color: #002b88;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  transition: 0.3s;
}
.card form input[type="submit"]:hover {
  background-color: #021b51;
} */

.card form a.submit-btn {
  display: block; /* علشان ياخد مساحة زي الزرار */
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 15px;
  border-radius: 18px;
  background-color: #002b88;
  color: #ffffff;
  text-decoration: none; /* يشيل خط الرابط */
  font-size: 24px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.card form a.submit-btn:hover {
  background-color: #021b51;
}

/* End Login */

/* animation card  */
@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Loader  */
.loader {
  position: fixed;
  inset: 0;
  background-image: url(../images/login-background.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.loader.hide {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(6px);
  z-index: 0;
}

.loader p {
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.spinner {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 5px;
  border: 4px solid #fff;
  border-bottom-color: #235fe0;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dots::after {
  content: "";
  animation: dots 1.2s steps(4, end) infinite;
}
@keyframes dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

/* Start Select Section Page  */
.container-select-sec {
  background-image: url(../images/select-section-background.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-select-sec .header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(26, 29, 34, 0.7);
}
.container-select-sec .header ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: white;
  font-size: 24px;
}
.container-select-sec .header ul li {
  padding: 20px 30px;
  align-items: center;
}
.container-select-sec .header ul li:not(li.logo) {
  border-left: 1px solid white;
}
.container-select-sec .header ul li.logo {
  letter-spacing: 9.9px;
  display: flex;
}
.container-select-sec .header ul li.logo span {
  font-size: 40px;
  padding-left: 10px;
  letter-spacing: 12.5px;
}

/* Drag List  */
.dragList {
  margin-top: 120px;
  padding: 10px 30px 5px 30px;
  position: relative;
  width: fit-content;
  background-color: white;
  border-radius: 18px;
  text-align: right;
}
.dragList p {
  font-size: 24px;
  margin-right: 20px;
}
.dragList .control {
  position: absolute;
  display: flex;
  top: -25px;
  left: 0.5rem;
  color: #00f008;
}
ul#sortableList {
  list-style: none;
  padding: 0;
  margin: 20px auto;
}

ul#sortableList li {
  padding: 0px 10px;
  margin: 10px 0;
  cursor: grab;
  border: 1px solid #ccc;
  transition: background 0.3s;
  border: 1 px solid #e4e4e4;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: end;
  align-items: center;
}
ul#sortableList li span {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-left: 10px;
}
ul#sortableList li:hover {
  background-color: #e4e4e4;
  border: 1px solid rgb(63, 63, 212);
}
.container-select-sec .submit_sections {
  padding: 10px 190px;
  font-size: 24px;
  border-radius: 10px;
  margin-top: 20px;
  background: linear-gradient(to right, #21a3ff, #146299);
  color: white;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.container-select-sec .submit_sections:hover {
  background: linear-gradient(to right, #ffd900, #a80a0a);
}

/* responsive */
/* @media (max-width: 920px) {
  .container-select-sec .header ul {
    font-size: 17px;
    flex-wrap: wrap;
  }

  .container-select-sec .header ul li.logo {
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
  }

  .container-select-sec .header ul li.logo span {
    letter-spacing: 5px;
    font-size: 25px;
  }

  .container-select-sec .header ul li.logo img {
    width: 70px;
    height: 70px;
  }

  .container-select-sec .header ul li {
    padding: 5px 10px;
  }

  .dragList {
    width: 90%;
    max-width: 420px;
  }

  .dragList p {
    font-size: 20px;
    margin-right: 10px;
  }

  ul#sortableList li {
    font-size: 18px;
    padding: 8px 10px;
    margin: 8px 0;
  }

  ul#sortableList li span {
    font-size: 24px;
    margin-left: 8px;
  }

  .container-select-sec .submit_sections {
    padding: 10px 60px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .dragList p {
    font-size: 18px;
  }

  ul#sortableList li {
    font-size: 16px;
    padding: 8px;
  }

  ul#sortableList li span {
    font-size: 20px;
  }

  .container-select-sec .submit_sections {
    padding: 10px 40px;
    font-size: 18px;
  }
} */

/* End Select Section Page  */
